doctype html
html
  head
    title Tip Toes Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
      ul
        div#logo 
           img(src="/static/img/logo.png")
           |NDA
           li #[a(href="/") Home] 
           li #[a(href="#missionSection") Mission] 
           li #[a(href="#sponsorsSection") Sponsors] 
           li #[a(href="/contact") Contact Us]
            
    section#introSection 
        div Welcome to Nandini's Dance Academy 
        div.small Create Live Dance
    section#missionSection 
       h2 Our Mission 
       div.card 
        h2 Dance the way you Like
        div.card-box
          div.card-img
            img(src="/static/img/logo1.png")
          div.card-content   
            p With an aim to provide quality dance training and making dance available to all, 
              NANDINI dance classes run throughout the year at multiple locations for students from ages four
              to eighty four providing them with training in various dance styles by Nandini’s expert faculty.
       div.card 
        h2 Dance Perfection 
        div.card-box
          div.card-img
            img(src="/static/img/logo2.png")
          div.card-content   
            p Learning, thought, creativity, and intelligence don't just come from the brain alone, 
              but from the entire body. Movement combinations increase memory, order, and sequencing skills. 
              Creating dances also increases self-esteem which is so very important to learning.
       div.card 
        h2 Expert Teaching 
        div.card-box
          div.card-img
            img(src="/static/img/logo3.png")
          div.card-content   
            | This is the best dance academy       
    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors
          img(src="/static/img/sponsor2.png",alt="sponsor image" class="spImage")
          img(src="/static/img/sponsor1.jpg",alt="sponsor image" class="spImage")
          img(src="/static/img/sponsor3.png",alt="sponsor image" class="spImage")
          img(src="/static/img/sponsor4.png",alt="sponsor image" class="spImage")
          img(src="/static/img/sponsor5.png",alt="sponsor image" class="spImage")
    footer#footer
      | Copyright © 2021 NandiniDanceAcademy.com | All rights reserved 
    script 
      include ../static/index.js           